/* styles for the external css file */
body {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
h1 {
    color: blueviolet;
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
}
h2 {
    color: blue;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
}
p {
    color: red;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;  
}